<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="icon" href="{{ 'img/favicon.png'|static_path('img') }}">

    <title>Share applications</title>

    <link href="{{ 'bootstrap/bootstrap.min.css'|static_path('css') }}" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ 'css/custom.css'|static_path('css') }}" rel="stylesheet" type="text/css" />

</head>
<body class="skin-blue sidebar-collapse">
    <div class="wrapper">
        <div class="content-wrapper bariol-regular">
            <section class="upload lhs block theme-text">
                <div class="inner">
                    <i class="fa fa-cloud-upload"></i>
                    <span class="block title">
                        Drop your APK to start upload (Max 20mb)
                    </span>
                    <div class="progress block">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <a id="dropzoneApk" class="dropzone-apk block" ></a>
            </section>
            <section class="releases lhs block" id="releases">
                <figure class="release block pull-left">
                    <span class="version-code theme-fill"></span>
                    <span class="version-code-val block">34</span>
                    <a class="ctx-menu" href="javascript:void(0);">

                    </a>
                    <figcaption class="theme-gray-text">
                        <img class="logo" src="https://getsmartapp.com/images/icon_512x512@2x.png" />
                        <h2>QAsmartapp</h2>
                        <h3>com.getsmartapp.qa</h3>
                        <span class="version block">v 9.1.7</span>
                        <span class="filename block">
                            <i class="fa fa-file"></i> &nbsp;
                            app-qa-debug.apk
                        </span>
                    </figcaption>
                    <span class="block tx-stamp theme-text ">
                        2017-01-03 23:45
                    </span>
                    <span class="block by-user theme-gray-text">
                        ankesh.singh
                    </span>
                </figure>
            </section>
            <section class="info-panel rhs block theme-white-text">
                <figure class="release block pull-left">
                    <figcaption>
                        <img class="logo" src="https://getsmartapp.com/images/icon_512x512@2x.png" />
                        <h2>QAsmartapp</h2>
                        <h3>com.getsmartapp.qa</h3>
                        <span class="version block">v 9.1.7</span>
                        <span class="filename block">
                            <i class="fa fa-file"></i> &nbsp;
                            app-qa-debug.apk
                        </span>
                        <br />
                        <span class="block">Uploaded on 2017-01-03 23:45</span>
                    </figcaption>
                </figure>
                <div class="release-actions">
                    <button class="download theme-text">
                        <i class="fa fa-download"></i>
                        <span>Download</span>
                    </button>

                    <button class="delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
                <div class="release-notes">
                    <h4>Release Notes</h4>
                    <p>
                       Fixes around issues related to VPN blocking of app wise requests: REC-22145, REC-22146, REC-22201
                    </p>
                </div>
            </section>
        </div>
    </div>
    <div class="col-lg-12 smart-load-anime" >
        <div class="loader col-lg-12">
        </div>
    </div>

    <script src="{{ 'jquery/jQuery-2.1.4.min.js'|static_path('js') }}"  type="text/javascript"></script>
    <script src="{{ 'bootstrap/bootstrap.min.js'|static_path('js') }}" type="text/javascript" ></script>
    <script src="{{ 'underscore/underscore-min.js'|static_path('js') }}" type="text/javascript"></script>
    <script src="{{ 'js/dropzone.js'|static_path('js') }}" type="text/javascript"></script>
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>


    <script type="text/javascript">
        var _template_url = "{{ 'tpl/app.html'|static_path('tpl') }}";
        var _api_base = "{{ config['AJAX_API_BASE'] }}";
        var _static_path = function(str) { return '{{ config['STATIC_FILE_BASE'] }}' + str + '?v=d{{ config['STATIC_FILE_VERSION'] }}'; };
        $(function() {
            $.App = $.App || {};

            Dropzone.autoDiscover = false;

            $.App.Uploader = {
                elem: $("section.upload"),
                progressBar: $("section.upload .progress-bar"),
                setProgress: function(val) {
                    var obj = this;
                    console.log(val);
                    obj.progressBar.css({width: val + "%"});
                }
            };

            Dropzone.options.dropzoneApk = {
                url: "/release",
                paramName: "file",
                maxFilesize: 50,
                acceptedFiles: ".apk",
                previewTemplate: "<div></div>",
                init: function() {
                    this.on("dragover", function(event) {
                        $.App.Uploader.elem.addClass("adding");
                    }),
                    this.on("dragleave", function(event) {
                        $.App.Uploader.elem.removeClass("adding");
                    }),
                    this.on("addedfile", function(file) {
                        $.App.Uploader.elem.removeClass("adding");
                        $.App.Uploader.elem.addClass("uploading");
                    }),
                    this.on("uploadprogress", function(file, progress) {
                        $.App.Uploader.setProgress(progress);
                    }),
                    this.on("complete", function(file, response) {
                        $.App.Uploader.elem.removeClass("uploading");
                    }),
                    this.on("error", function(file) {
                        alert("Error occurred during upload");
                    })
                }
            }
            $.App.Uploader.zone = $("#dropzoneApk").dropzone();

        });
    </script>

    <script type="text/babel">

        class ReleaseCard extends React.Component {

            constructor(props) {
                super(props);
            }

            handleClick = (id) => {
                console.log(id);
            }

            render() {
                return (
                    <figure className="release block pull-left" onClick={this.handleClick(this.props.apk.id)}>
                        <span className="version-code theme-fill"></span>
                        <span className="version-code-val block">{this.props.apk.versionCode}</span>
                        <a className="ctx-menu" href="javascript:void(0);">

                        </a>
                        <figcaption className="theme-gray-text">
                            <img className="logo" src={this.props.apk.launcherIcon} />
                            <h2>{this.props.apk.launcherName}</h2>
                            <h3>{this.props.apk.packageId}</h3>
                            <span className="version block">v {this.props.apk.version}</span>
                            <span className="filename block">
                                <i className="fa fa-file"></i> &nbsp;
                                {this.props.apk.filename}
                            </span>
                        </figcaption>
                        <span className="block tx-stamp theme-text ">
                            {this.props.apk.createdTxStamp}
                        </span>
                        <span className="block by-user theme-gray-text">
                            {this.props.apk.user.name}
                        </span>
                    </figure>
                );
            }

        }

        class Releases extends React.Component {
            getInitialState() {
                return ({ data: null });
            }

            componentDidMount() {
                $.get('/release').done(function(data) {
                  this.setState({data: data});
                }.bind(this));
            }

            refreshApks() {
                $.get('/release').done(function(data) {
                  this.setState({data: data});
                }.bind(this));
            }

            render() {
                if (this.state && this.state.data) {
                    return (
                        <div>{this.state.data.items.map(this.renderItem)}</div>
                    );
                }
                return (
                    <div>Loading...</div>
                );
            }

            renderItem(item) {
                return (
                    <ReleaseCard key={item.id.toString()} apk={item} />
                );
            }
        }

        ReactDOM.render(
          <Releases />,
          document.getElementById('releases')
        );
    </script>

</body>
</html>
